/* RESET  CSS*/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    line-height: 1;
    background-color: papayawhip;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none; /*цвет ссылок и отсутсвие подчеркивания по умолчанию*/
    color: black;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header,
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    display: inline-block;
    padding: 5%;
}

.logo {
    width: 20%;
}

.logo__picture-wrap {
    width: 50%;
}

.logo__picture {
    width: 100%;
    min-width: 50%;
}

.menu-wrap {
    width: 60%;
}

.menu__item {
    position: relative;
}

.submenu__link,
.dropdown__link {
    white-space: nowrap; /*чтобы не было переноса*/
    display: block;
    padding: 10px;
    z-index: 10; /*чтобы точно перекрывало*/
}

.submenu__link,
.dropdown__link,
.header {
    background:rgba(224, 159, 170, 0.9);
}

.submenu,
.dropdown {
    display: none; /*чтобы изначально на странице не отображались*/
    position: absolute;
}

.dropdown {
    top: 45px; /*фиксирую позиционированный элемент в определенной точке*/
    left: 137px;
}

.menu__item:hover .submenu,
.submenu__item--secondary:hover .dropdown { /*чтобы при наведении показывались выпадающие меню, и они были блоками*/
    display: block;

}
.menu,
.submenu,
.dropdown {
    font-size: 0; /*выставляю значение ноль для ul*/
    padding: 2%;
}

.menu__item,
.submenu__item,
.dropdown__item {
    font-size: 1.5rem;
}

.menu__item:hover,
.submenu__item:hover,
.dropdown__item:hover {
    text-decoration: underline; /*чтобы ссылки подчеркивались при наведении*/

}

/* SECTION */
.section {
    margin-top: 15%;
}

[class$="title"],
.footer {
    text-align: center;
    padding: 10px 2%;
}

p[class$="item"] {
    padding: 1% 2%;
    text-indent: 10%;
} 


